.stars {}

.star {max-width: initial; color: #ffb800}
.star--filled {}
.star--empty {}
.star--empty::before{
    color: #e2d06c;
}

.reviewForm-background{
    background: #666;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
}
.review-form-container {
    position: fixed;
    background: white;
    box-shadow: 0px 0px 5px #666;
    width: 500px;
    top: 100px;
    left: calc(50% - 250px);
    z-index: 10000;
    padding: 25px;
}

.review-form-container>div {
    margin-top: 5px; 
    margin-bottom: 5px;
}

.reviewProgressBarContainer{
    background-color: #DDD;
    position: relative;
    height: 10px;
    border-radius: 5px;
    /*width: 100%;*/

    display: inline-block;
    float: right;
    width: calc(100% - 100px);
    margin-top: 3px;
}
.reviewProgressBar{
    position: absolute;
    background: linear-gradient(to bottom,#ffce00,#ffa700);
    background-color: #ffce00;
    height: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
}

.ratingSummaryContainer{
    height: fit-content;
}

.formErrorMessage{
    color: #a30a0a;
    font-size: .875rem;
    display: block;
}